/******************************************
************** GENERAL  *************
**************************************** */
@font-face {
    font-family: customFont;
    src: url(font/AvenirNextLTPro-Cn.otf);
    font-weight: lighter;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

html * {
    font-family:customFont,Arial,Helvetica ;
}

html{overflow-x: hidden}

body{
    /*background-image: url('http://bioschemas.org/images/subtle_white_feathers.png');*/
}

hr{
	margin:0px;
}

pre {
    -moz-tab-size: 4; /* Firefox 4+ */
    -o-tab-size: 4; /* Opera 11.5 & 12.1 only */
    tab-size: 4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
}

h2{
    margin:0px;
    text-align: center;
    color: rgba(11, 121, 75, 1);
    font-weight: bold;
}

h2 em{
    font-size: 0.8em;
}

h3{
    margin: 0px 20px 0px 0px;
    font-size: 1.5em;
    color: rgba(11, 121, 75, .9);
    display:inline-block;
    font-weight: bold;
}


h4{
    font-size: 1.3em;
    margin:0px;
    border:rgba(11, 121, 75, 1);
    background:rgba(11, 121, 75, 0.9);
    color:#fff;
    padding:10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    min-width: 170px;
    text-align: center;
}

button:hover{
    cursor:pointer;
}

#editRequired ul{
    padding-left: 0px !important
}

.row{
    margin:0px;
}

.no-padding{
    padding:0px;
}

/******************************************
************** HEADER *************
**************************************** */
.page_header{
    right: 0;
    z-index: 98;
    background: #FFF;
    border-bottom:1px solid #DEDFE0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
    width: 100%;
}

.title {
    display: inline-block;
}

.title h1{
    margin-top: 5px;
    padding-top: 0px;
    text-align: center;
}


.main_page{
    position: relative;
    top: 80px;
    width:100%;
    padding:0px 20px;
}

.json_output{
    border: 1px solid #DEDFE0;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.12);
    background: #FFF;
    padding: 20px 40px;
    position: fixed;
    right: 10px;
    max-height: 90vh;
    overflow-y:scroll;
}


.newEntry{
    border-top:1px solid rgba(11, 121, 75, 0.8);;
    padding-top: 30px;
}

.noPaddingTop{
    padding-top: 0px !important;
}
/******************************************
************** MAIN CONTAINER *************
**************************************** */
.main_container{
    padding:20px;
    border:1px solid #DEDFE0;
    border-radius:2px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.12);
    background: #FFF;
    position: absolute;
    -webkit-transition: left 0.5s ease, opacity 0.2s ease;
    display: inline-block;
    margin-bottom: 20px;
    width:98%;
    left:0;
}

.item_entry{
    font-size: 1.2em;
    margin-top: 10px;
    text-align: justify;
}

.main_container .button{
    padding:30px;
    margin-top: 40px;
    font-size: 4.5em;
    width:450px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-transform: uppercase;
    display:block;
    background: rgba(11, 121, 75, .9);

}

.main_container .button:active{
    background: rgba(11, 121, 75, 1);
}

/* Make @media here to place frames according to screen size*/
#editRequired,
#editRecommended,
#editDataset,
#output{
    left:2000px;
    opacity: 0;
}

.editor{
   border:3px solid rgba(11, 121, 75, 1);
   padding-top:10px;
   padding-bottom: 10px;
   margin-top: 30px;
}

.field_editor{
    border-right:1px solid rgba(11, 121, 75, 0.9);
}

.form_item, form button{
    margin-top:10px;
}

form input{
    width:100%;
    /*margin-bottom: 15px !important;*/
}

.field_description .field_name{
    display: block;
    min-width: 300px;
}

form .field_description{
    font-size: 0.9em;
    padding: 0px 10px;
    margin-bottom: 5px;
}

label.inline{
    display:inline-block;
}


/******************************************************************************************************************************************************
************************************************************************************** FORM ***********************************************************
**************************************************************************************************************************************************** */
.field_title{
    display: block;
    margin-right:0px !important;
    border-bottom:1px solid #ccc;
    padding:10px 20px;
    margin-bottom: 10px;
}


.question{
    position: absolute !important;
    top: -4px;
}

.question_title{
    position: absolute !important;
    right: 0px;
    top: 5px;
}

.form-style-1 {
    margin:10px auto;
    padding: 30px 20px;
}

ul.form_list li {
    padding: 0;
    display: block;
    list-style: none;
    margin-bottom: 35px;
}

input, textarea{
    width: 97% !important;
    border-right: 1px solid #ccc !important;
}

label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    color:rgba(11, 121, 75, 0.9) !important;
    font-weight: lighter;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*border:1px solid #BEBEBE;*/
    padding: 0px 7px;
    margin:0px;
    outline: none; 
}


.form-style-1 select{
    margin-bottom:10px;
}

.form-style-1 textarea{
    resize:vertical;
}

.form-style-1 .submit{
    background: rgba(11, 121, 75, 0.8);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    width:49.8%;
    display: inline-block;
}
.form-style-1 .submit:hover{
    background: rgba(11, 121, 75, 0.9);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

.form-style-1 input[type=submit]:active, .form-style-1 input[type=button]:active, .form-style-1 button:active{
    background: rgba(11, 121, 75, 1);
}

.form-style-1 .required{
    color:red;
}

form.required_fields{
    background: rgba(11, 121, 75, .1);
}

form.required_fields input, form.required_fields textarea, .form-style-1 button, .form-style-1 select{
    font-size: 1.5em;
}

form.required_fields label{
    font-size:1.4em;
}

.fa{
    color:rgba(11, 121, 75, 0.8);
}

.fa:hover{
    cursor:pointer;
}

.fa-angle-double-right, .fa-angle-double-left{
    color:#fff;
}

.fa-plus-circle:active{
    color:rgba(11, 121, 75, 1);
}

fieldset.subfield{
    margin-bottom: 15px;
    padding: 15px;
    border:1px solid #ccc;
}

.small{
    font-size: 0.7em;
}

.smaller_field{
    width:90% !important;
}

.field{
    position: relative;
}

.field_desc{
    display: none;
    max-width: 60%;
    vertical-align:top;
    border:1px solid #ccc;background: #FFFFE0;
    position: absolute;
    padding:10px 20px;
    text-align: justify;
    margin-left: 10px;
    margin-top:5px;
    background: #FFFFE0;
    z-index: 30;
}

.add_item{
    margin-top:30px;
    padding-left:20px;
    margin-bottom: 20px;
}

.required_field{
    padding: 0px;
}

ul.required_fields_container{
    padding:0px;
}

.field-subvalue{
    width:95% !important;
}

.remove-subvalue{
    color:red;
}

.removesubval{
    top: -6px;
    right: -19px;
}

.object_field{
    border:1px solid #ccc;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.12);
}

.object_field .field_header{
    border-bottom:1px solid #ccc;
    padding:10px 10px;
}

.object_field .field_form{
    padding:20px;
}

.object_field .field_footer;
.question {
    border-top:1px solid #ccc !important;
    padding-top: 20px;
}

.flex-container{
    display: flex !important;
    justify-content: space-between;
}


/******************************************
   ************** DatePICKER ************** 
**************************************** */
.datepickerdemoBasicUsage{
    width:90%;
}

.datepickerdemoBasicUsage md-content, md-content{
    background-color: rgba(250,250,250,0);
}

.md-datepicker-input-container{
    padding:0px !important;
}

.md-datepicker-focused{
    border-bottom-color:rgba(11, 121, 75, 0.9) !important;
}

.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: rgba(11, 121, 75, 0.9) !important;
}

.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon, .md-datepicker-open .md-datepicker-calendar-icon {
    fill: rgba(11, 121, 75, 0.9) !important;
}

md-input-container {
    margin: 0px !important;
    padding:0px !important;
    display:block !important;
}

md-content{
    overflow:visible !important;
    padding:0px !important;
}

.md-input-focused label,
.md-input-has-value label{
    transform: translate3d(0, 7px,0) scale(1) !important;
}


textarea {
    min-height: 180px !important;
    border-right:1px solid rgba(0,0,0,0.12) !important;
}

md-input-container .md-resize-handle {
    bottom: 0px !important;
}

.md-datepicker-input{
    min-width:250px !important;
}

md-tooltip{
    max-width: 400px !important;
    font-size: 1.1em !important;
    overflow: visible !important;
}

md-tooltip div{
    overflow: visible !important;
    height:auto !important;
    text-overflow:visible !important;
    white-space: normal !important;
    padding:10px !important;
    border:1px solid #ccc;
    background: #FFFFE0 !important;
    color:rgba(0,0,0,0.87); !important;
}