<!-- SINGLE VALUE FIELDS -->
<md-input-container ng-if="field.cardinality==='ONE'">

    <label>{{field.name}}</label>

    <md-button class="md-icon-button question">
        <md-tooltip md-direction="left">{{field.sdo_desc | trust}}</md-tooltip>
        <md-icon class="fa fa-question-circle"> </md-icon>
	</md-button>

    <!-- input url -->
    <input  name="{{'item_'+field.name}}" 
            ng-if="field.expected_type[0].toLowerCase()==='url'" 
            ng-model="output.json[field.name]" 
            ng-required="{{field.marginality==='Minimum'}}" 
            minlength="6"  
            maxlength="100" 
            ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" >
    </input>


    <!-- input short text -->
    <input  name="{{'item_'+field.name}}" 
            ng-if="field.expected_type[0].toLowerCase()==='text' && field.output==='input'" 
            ng-required="{{field.marginality==='Minimum'}}" 
            ng-model="output.json[field.name]">
    </input>

    <!-- input long text -->
    <textarea   name="{{'item_'+field.name}}" 
                ng-if="field.output==='textarea'" 
                ng-required="{{field.marginality==='Minimum'}}" 
                mdInput 
                mdTextareaAutosize 
                minRows="6" 
                ng-model="output.json[field.name]">
    </textarea>

    <!-- input datepicker -->
	<md-datepicker  name="{{'item_'+field.name}}" 
                    type="{{field.expected_type[0].toLowerCase()}}" 
                    ng-if="field.expected_type[0].toLowerCase()==='date'" 
                    ng-required="{{field.marginality==='Minimum'}}" 
                    ng-model="output.json[field.name]"> 
    </md-datepicker>
    
    <!-- Hint
    <div class="hint">{{field.sdo_desc}}</div>
	--> 
   <div error-handler> </div>
</md-input-container>


<!-- MULTIPLE VALUE FIELDS -->
<div ng-if="field.cardinality==='MANY'" class="object_field">

    <div class="question_title">
        <md-button class="md-icon-button ">
            <md-tooltip md-direction="left">{{field.sdo_desc | trust}}</md-tooltip>
            <md-icon class="fa fa-question-circle"> </md-icon>
        </md-button>
    </div>

    <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.open" ng-init="status = {open: true}">

            <uib-accordion-heading>
                <label>{{field.name}}</label> 
                <!--<i class="pull-right fa " ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>-->

                <md-button class="md-icon-button pull-right">
                    <md-tooltip md-direction="bottom" ng-if="status.open">Close tab</md-tooltip>
                    <md-tooltip md-direction="bottom" ng-if="!status.open">Open tab</md-tooltip>
                    <md-icon class="fa fa-chevron-down" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"> </md-icon>
                </md-button>

            </uib-accordion-heading>

            <div>
                <ul>
                    <!-- INITIATOR (field 0) -->
                    <li> 
                        <md-input-container class="md-block" md-no-float>
                            <!-- input short text -->
                            <input  name="{{'item_'+field.name}}" 
                                    ng-if="field.expected_type[0].toLowerCase()==='text'" 
                                    ng-required="{{field.marginality==='Minimum'}}" 
                                    ng-model="output.json[field.name][0]"
                                    ng-click="output.fieldToArray(field.name);"
                                    placeholder="({{field.expected_type[0].toLowerCase()}})">
                            </input>

                            <!-- input url -->
                            <input  name="{{'item_'+field.name}}" 
                                    ng-if="field.expected_type[0].toLowerCase()==='url'" 
                                    ng-model="output.json[field.name][0]" 
                                    ng-required="{{field.marginality==='Minimum'}}" 
                                    minlength="6" 
                                    maxlength="100" 
                                    ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" 
                                    ng-click="output.fieldToArray(field.name);" 
                                    placeholder="({{field.expected_type[0].toLowerCase()}})">
                            </input>

                            <div error-handler> </div>
                        </md-input-container>
                    </li>

                    <!-- SUBSEQUENT VALUES -->
                    <li ng-repeat="subvalue in output.json[field.name] track by $index" ng-if="!$first">
                        <md-input-container class="md-block" md-no-float>

                            <!-- input short text -->
                            <input  name="{{'item_'+field.name}}{{$index+1}}" 
                                    ng-if="field.expected_type[0].toLowerCase()==='text'"  
                                    ng-model="output.json[field.name][$index]"
                                    placeholder="{{field.name}} {{$index+1}} ({{field.expected_type[0].toLowerCase()}})">
                            </input>

                            <!-- input url -->
                            <input  name="{{'item_'+field.name}}{{$index+1}"
                                    ng-if="field.expected_type[0].toLowerCase()==='url'" 
                                    ng-model="output.json[field.name][$index]" 
                                    minlength="6" 
                                    maxlength="100" 
                                    ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" 
                                    placeholder="({{field.expected_type[0].toLowerCase()}})">
                            </input>

                            <md-button class="md-icon-button question_title removesubval" ng-click="output.remove_item(field.name, $index);">
                                <md-tooltip md-direction="left">remove item</md-tooltip>
                                <md-icon class="remove-subvalue fa fa-minus-circle"> </md-icon>
                            </md-button>
                        </md-input-container>
                    </li>
                </ul>
            </div>

        </div>
    </uib-accordion>

    <!-- ADD SUBVALUES TO FIELD (multiple values only) -->
    <md-button class="md-icon-button field_footer" ng-click='console.log("lol");output.json[field.name].push("")'>
        <md-tooltip md-direction="right">Add more {{ field.name }}</md-tooltip>
        <md-icon class="fa fa-plus-circle"> </md-icon>
    </md-button>
</div>

