<h2> Bioschemas DataCatalog <BR> <em> - Required Fields - </em></h2>
<form class="required_fields">
	<ul class="form-style-1">
	    <li>
	    	<label>Name & URL <span class="required"></span></label>
	    	<input type="text" name="name" class="field-divided" placeholder="Name" ng-model="output.fields.required.name" required/>&nbsp;
	    	<input type="url" name="url" class="field-divided" placeholder="URL" ng-model="output.fields.required.url" required/>
	    </li>


	   	<li>
	        <label>Description <span class="required"></span></label>
	        <textarea name="description" id="field5" class="field-long field-textarea" placeholder="Description of your DataCatalog" ng-model="output.fields.required.description" required></textarea>
	    </li>

	    <li>
	        <label>Keywords <span class="required"></span><div class="small"> - {{output.keywords.length}} item(s) -</div></label>
	        <div ng-repeat="keyword in output.fields.required.keywords track by $index">
	        	<input type="text" class="field-long" ng-model="output.fields.required.keywords[$index]" placeholder="Keyword {{$index+1}}" required ng-show="$first"/>
	        	<input type="text" class="field-long" ng-model="output.fields.required.keywords[$index]" placeholder="Keyword {{$index+1}}" ng-show="!$first"/>
	        </div>
	        <div class="add_item add_field fa fa-plus-circle" ng-click="output.add_keyword();"> <span>Add more keywords</span></div>
	        
	        
	    </li>

	    <li>
	        <label>Provider</label>
	        <select class="field-long" ng-model="output.fields.required.provider.type" required>
	        	<option disabled selected value> Select an option </option>
	        	<option value="Person" ng-click='output.fields.required.provider.url=undefined; output.fields.required.provider.name=undefined'> The provider is a person </option>
	        	<option value="Organization" ng-click='output.fields.required.provider.email=undefined; output.fields.required.provider.name=undefined'> The provider is an organization </option>
	        </select>


	        <div ng-show='output.fields.required.provider.type==="Person"'>
		        <input type="text" name="provider_name" class="field-divided" placeholder="Name" ng-model="output.fields.required.provider.name"/ required>&nbsp;
		    	<input type="email" name="provider_url" class="field-divided" placeholder="email" ng-model="output.fields.required.provider.email" required/>
		    </div>

		    <div ng-show='output.fields.required.provider.type==="Organization"'>
		        <input type="text" name="provider_name" class="field-divided" placeholder="Name" ng-model="output.fields.required.provider.name" required/>&nbsp;
		    	<input type="url" name="provider_url" class="field-divided" placeholder="URL" ng-model="output.fields.required.provider.url" required/>
		    </div>
	    </li>

	    <li>
	        <button type="submit" ng-click="output.go_to_start()"> <em class="fa fa-angle-double-left"></em> &nbsp;Previous </button> 
	        <button type="submit" ng-click="output.go_to_recommended('Next')">Next &nbsp; <em class="fa fa-angle-double-right"></em> </button>
	    </li>
	</ul>
</form>